*{
    margin: 0;
}
body{
    background-color: #171A21;
    height: 100vh;
}
header{
    width: 100%;
    height: 80px;
    border-bottom: 2px solid black;
}
.library-section{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid red;
}
/* ADD CARD STYLING */
.add-book-card{
    height: 300px;
    min-width: 225px;
    margin: 00px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(40,44,89);
    background: linear-gradient(90deg, rgba(40,44,89,1) 0%, rgba(42,44,64,1) 74%);
    border: none;
    transition: all 0.3s ease-out;
}
.add-book-card:hover{
    cursor: pointer;
    transform: scale(1.05);
}
.add-button-container{
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
.add-button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
    border: 1px solid white;
}
.add-button:hover{
    transform: scale(1.05);
}
.add-btn-text{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.add-btn-text h3{
    color: white;
}
/* END OF ADD CARD STYLING */
.book-stack{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid yellow;
}
.book-stack-2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid yellow;
}
.book-container{
    width: 100%;
    height: 100%;
    border: 1px solid green;
}
.book{
    height: 300px;
    min-width: 225px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid cyan;
    margin: 00px 20px;
}
.title-container{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.autor-container{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.pages-container{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.read-container{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.delete{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.disable{
    display: none;
}
/* MODAL STYLING */
.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.modal{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .modal-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
  }
  