*{
    font-family: 'Raleway', sans-serif;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    margin: 0;
}
body{
    background-color: #F0EEF1;
    height: 100vh;
}
header{
    width: 100%;
    height: 80px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
}
.logo-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    /* border: 1px solid red; */
}
#logo{
    font-size: 40px;
    font-weight: 700;
}
.library-section{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
}
/* ADD CARD STYLING */
.add-book-card{
    height: 300px;
    min-width: 225px;
    margin: 00px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #A3000E;
    border: none;
    transition: all 0.3s ease-out;
}
.add-book-card:hover{
    background-color: #7c000a;
}
.add-button-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-button{
    width: 70%;
    height: 70%;
    border-radius: 5px;
    background-color: #cc1d2b;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
.add-button:hover{
    cursor: pointer;
    background-color: #ee2a3a;
}
.add-btn-text{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-btn-text h3{
    font-size: 18px;
    color: #ffffff;
}
.delete-button-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-button{
    width: 70%;
    height: 70%;
    border-radius: 5px;
    background-color: #cc1d2b;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-out;
}
.delete-button:hover{
    cursor: pointer;
    background-color: #ee2a3a;
}
.delete-btn-text{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.delete-btn-text h3{
    font-size: 18px;
    color: white;
}
/* END OF ADD CARD STYLING */
.book-stack{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.book-stack-2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* BOOK CARD STYLING */
.book{
    height: 300px;
    min-width: 225px;
    max-width: 225px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f8f6f2;
    border: none;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.2);
    margin: 00px 20px;
}
.title-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    word-break: break-all;
    justify-content: center;
    align-items: center;
}
.title-container h3{
    text-align: center;
    overflow-wrap: break-word;
    font-weight: 700;
    font-size: 25px;
    color: black;
}
.autor-container{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.autor-container h3{
    font-weight: 500;
    color: black;
}
.pages-container{
    width: 100%;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pages-container h3{
    font-weight: 300;
    font-style: italic;
    color: black;
}
.read-container{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition: all 0.3s ease-out;
}
.read-container:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.read-container h3{
    font-size: 18px;
}
.read{
    background-color: #4ad368;
}
.not-read{
    background-color: #ee2a3a;
}
.delete{
    width: 90%;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(189, 189, 189);
    border: none;
    transition: all 0.3s ease-out;
}
.delete-container{
    font-size: 18px;
}
.delete:hover{
    cursor: pointer;
    transform: scale(1.03);
}
.disable{
    display: none;
}
/* MODAL STYLING */
.modal-container {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.modal{
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 20px;
    border: none;
    border-radius: 10px;
    width: 30%; /* Could be more or less, depending on screen size */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  #form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
  }
  .booklabel{
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 5px;
  }
  .bookinput{
    height: 20px;
    width: 200px;
    margin-bottom: 20px;
  }
  #add-button{
    font-size: 18px;
    font-weight: 700;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-color: rgb(189, 189, 189);
    transition: all 0.3s ease-out;
  }
  #add-button:hover{
    cursor: pointer;
    background-color: rgb(206, 206, 206);
  }
  .modal-section{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
  }
  